.layout {
  width: 50%;
  display: grid;
  grid:
  "header header header" 200px
  "leftSide body body" auto
  / 350px auto auto;
  background-color: #e1dede;
}

.header { 
  grid-area: header;
  background-image: url('./assets/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  display: flex;
}
.leftSide { 
  grid-area: leftSide; 
}
.body { 
grid-area: body;
}